installation_macos.md
installation_linux.md
installation.md
Croply.sql

.env
.env.*
*.env
!environment.env
backend/caddy/production
backend/python/packages

backend/storage/videos_awaiting_reframe/*
!backend/storage/videos_awaiting_reframe/.gitkeep

backend/storage/videos_reframed/*
!backend/storage/videos_reframed/.gitkeep


#YOLO model weights
/models/*
*.pt
*.onnx

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.directory
.Trash-*

# IDE
.vscode
.idea
*.swp
*.swo
*~

