{
	admin {$CADDY_ADMIN_ADDRESS}
}

{$CADDY_DOMAIN} {
	tls internal

    handle /public/* {
        root * {$CADDY_PROJECT_ROOT}
        file_server
    }

    handle /phpmyadmin/* {
        root * {$CADDY_BACKEND_ROOT}
        php_fastcgi {$CADDY_PHP_FASTCGI_ADDRESS}
        file_server
    }

    handle /api/* {
        reverse_proxy {$CADDY_REVERSE_PROXY_URL} {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
            transport http {
                read_timeout 30s
                write_timeout 30s
                response_header_timeout 30s
            }
        }
    }

    handle {
        reverse_proxy {$CADDY_REVERSE_PROXY_URL} {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
            transport http {
                read_timeout 30s
                write_timeout 30s
                response_header_timeout 30s
            }
        }
    }
}